body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.header{
    background-color: #1D252C;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.header a{
    color: white;
    text-decoration: none;
    display: block;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ol{
    display: flex;
    align-items: center;
}

.menu{
    height: inherit;
}

.header ol li{
    height: inherit;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
}

figure{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}

 h1{
     line-height: 1.5;
     font-size: 40px;
     font-weight: normal;
     letter-spacing: -.2px;
     color: white;
     margin: 0;
 }

 h1 strong{
     color: #026FFF;
 }

 h2{
    color: #026FFF;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
 }

 /* Especificación de proyectos usando flexbox con imagen y texto */

 .hero{
    height: 300px;
    /* background-image: url('../images/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    background-color: #1D252C;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .hero-image{
     object-fit: cover;
 }

 .portfolio{
    background: #FAFAFA;
    padding: 20px;
 }

 .project{
     border: 1px solid gray;
     border-radius: 10px;
     margin: 10px;
     margin-bottom: 15px;
     padding: 20px;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .project-title{
     font-size: 30px;
     margin-top: 0;
     margin-bottom: 10px;
 }

 .project-details{
     width: 500px;
 }

 .project-imageContainer{
     width: 500px;
 }

 .project-course,
 .project-date,
 .project-url{
     margin: 10px 0;
 }

 .project-description{
     font-size: 20px;
 }

 .project strong{
    font-family: 'Fjalla One', sans-serif;
 }

 /* Deficinión de eventos con uso de carts */

 .event-list-title{
     margin-left: 20px;
 }

 .event{
     margin: 10px;
     width: 480px;
     border-radius: 10px;
     flex-shrink: 0;
     overflow: hidden;
     background-color: #F4FBFF;
 }

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: justifiy;
}

.event-url{
    color: #026FFF;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Espacio de contacto */

.contact{
    background-color: #026FFF;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');    
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');    
}

.social-link.github{
    background-image: url('../images/github.svg');    

}

.social-link.instagram{
    background-image: url('../images/instagram.svg');    
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('..//images/envelope.svg');
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

/* Definición del footer */

 .footer{
    background-color: #1D252C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .footer img{
     vertical-align: middle;
 }

 .footer a{
     color: white;
 }

/* Definición del wrapper o container */

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}